<div class="wrapper fadeInDown">
  <div class="jumbotron jumbotron-fluid" style="background-color:transparent !important; padding: 2rem 1rem;">
    <div class="container">
      <p class="display-4" style="font-size: 3rem;">환영합니다.</p>
      <p class="display-4" style="font-size: 2.5rem;">구구페이 에서 쉽고 빠르게 지출을 관리하세요.</p>
    </div>
  </div>
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first">
      로고!
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="아이디">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="비밀번호">
      <input type="submit" class="fadeIn fourth" value="로그인">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <div class="row" style="font-size:14px;">
        <div class="col text-left">
          <a href="">
            처음 방문 하셨나요?
          </a>
        </div>
        <div class="col text-right">
          <a href="">
            계정을 분실 하셨나요?
          </a>
        </div>
      </div>
      <!-- <a class="underlineHover " href="#">처음 방문 하셨나요?</a>
      <a class="underlineHover mr-2" href="#">계정을 분실 하셨나요?</a> -->
    </div>

  </div>
</div>
